.forum-text-limited {
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}

.posts .title-linker {
  display: block;
  content: "";
  height: 140px;
  margin: -140px 0 0;
  visibility: hidden;
}

.forum-post-buttons .btn {
  margin-bottom: 0;
}

.post-like-button.liked {
  .oi-thumb-up:before {
    content: '\e0cc';
  }

  &:hover {
    background-color: #f55549 !important;

    .oi-thumb-up:before {
      content: '\e0cb';
    }
  }
}

.card .alert {
  margin-bottom: 0
}