body {
  padding-top: 70px;
}

html, body {
  height: 100%;
}

.table-plugins>tbody>tr:nth-child(odd)>td, .table-plugins>tbody>tr:nth-child(odd)>th {
  border-top: none;
}

.da {
  font-weight: bold;
  display: block;
}

.dd {
  padding-left: 40px;
  display: block;
}

.tabspace {
  margin-top: 25px;
}

.spacedown {
  margin-bottom: 12px;
}

.navbar-brand {
  padding: 15px 15px;
  font-size: 30px;
}

.headbox .btn {
  margin-top: 18px;
}

.fixed-to-bottom {
  position:fixed;
  right:0;
  left:0;
  z-index:1030;
  bottom:0;
  margin-bottom:0;
  border-width:1px 0 0;
}

.bottom-bar {
  background-color: #333333;
  border-color: #222222;
  color: #fff;
  padding-top: 10px;
}

.bottom-bar, .push {
  height: 40px;
}

.mainpage {
  padding-bottom: 40px;
  min-height: 100%;
  margin: 0 auto -40px;
}

.panel-primary .panel-title small {
  color: #D6D6D6;
}

.breadcrumb {
  font-size: 12px;
}

.posts .panel {
  border-bottom: 0;
  margin-bottom: 0;
}

.posts .panel:last-child {
  border-bottom: 1px solid #dddddd !important;
  margin-bottom: 21px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
}
ol.example li.placeholder:before {
  position: absolute;
}

@media (min-width: 768px) {
  .navbar .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .navbar .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .navbar .container {
    width: 1170px;
  }
}

#atlwdg-trigger {
  background: #008cba;
}

.nospace {
  margin: 0;
}

.forum-avatar-box {
  margin-bottom: 10px;
}

.panel-title {
  padding-top: 2px;
}

.panel.nopadding .panel-body {
  padding: 0;
}

.panel.nopadding .alert {
  margin-bottom: 0;
}

.panel.nopadding table {
  margin-bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.panel.nopadding table tr:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.panel.nopadding table tr td:first-child {
  border-bottom-left-radius: 5px;
}

.panel.nopadding table tr td:last-child {
  border-bottom-right-radius: 5px;
}

.panel.nopadding .nav-tabs {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-group .list-group-separator:before {
  width: 100%;
}

.note-btn {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.note-popover .popover-content>.btn-group, .panel-heading.note-toolbar>.btn-group {
  margin-bottom: 0;
}

.btn {
  padding-left: 15px;
  padding-right: 15px;
}

.member-page-logo {
  min-width: 155px;
  min-height: 155px;
}

.centered {
  text-align: center;
}

.sidebar .limited {
  max-width: 270px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}

.sidebar h4 .limited {
  line-height: 20px;
}

img.build-status {
  padding-bottom: 3px;
}

.form-group.has-error .form-control {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f44336), to(#f44336)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(#f44336, #f44336), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(#f44336, #f44336), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group .help-block {
  display: block;
}

.navbar.navbar-info .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;

  li {
    &:first-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }

    &:last-child {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.alert-no-margin {
  margin-bottom: 0;
}

.navbar-nav {
  .dropdown-menu {
    .form-group {
      margin: 0;
      padding: 0;
    }
  }
}

.search-icon-badge {
  position: absolute;
  top: 10px;
  left: 20px;
  background: rgba(255, 255, 255, 0.29);
}

@media (max-width: 768px) {
  #atlwdg-trigger {
    display: none;
  }
}

h1.tridentsdk-page-header {
  margin-bottom: 25px;
  margin-top: 15px;
}

.panel-body .form-group:first-child {
  margin-top: 0;
}

form .panel-body {
  padding-bottom: 5px;
}

.headcrab {
  margin-top: 5px;
  margin-bottom: 15px;
}

img.placeholder-image-32 {
  width: 32px;
  height: 32px;
}

.normal-captcha .grecaptcha-badge {
  position: initial !important;
}

.nopadding {
  padding: 0 !important;
}

.mb-0 {
  margin-bottom: 0;
}

.straight-corner {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.panel-margin-fixer {
  margin-top: -1px;
}

.panel-group .panel+.panel {
  margin-top: 0;
}

.panel-success .panel-title a:hover, .panel-success .panel-title a:focus {
  color: #fff;
  text-decoration: none;
}