

.plugin-logo {
  background-size: contain;
  height: 80px;
  width: 80px;

  &-small {
    max-width: 60px;
    max-height: 60px;
  }

  &-tiny {
    max-width: 30px;
    max-height: 30px;
  }
}

.plugin-sidebar {
  border-radius: 5px;
  border-width: 2px;
}

.plugins-page {


  .plugin-list {

    @media (min-width: 768px) {
      padding-right: 0;
      padding-left: 0;
    }

    .search-bar {
      padding-left: 15px;
      padding-right: 15px;

      .search-box {
        @media (max-width: 768px) {
          padding-right: 0;
        }

        .card-body {
          padding: 0.2rem;
        }
      }

      .card {
        padding: 3px 10px;

        @media (max-width: 768px) {
          margin-bottom: 0;
        }

        .form-group {
          margin: 0;
          padding: 0;
        }
      }

      .new-plugin {
        padding-right: 0;

        @media (min-width: 768px) {
          padding-left: 0;
        }

        .btn {
          width: 100%;
          @media (min-width: 768px) {
            height: 51px;
            margin: 0;
            padding-top: 17px;
          }
        }
      }
    }

    .plugin-cards {
      padding-left: 15px;
      padding-right: 15px;
    }

    .plugin-element {

      padding-right: 5px;

      img.media-object {
        max-height: 84px;
        max-width: 64px;
      }

      .media-heading {
        margin-bottom: 0;

        .download-count {
          float: right;
          font-size: 65%;
        }
      }

      .plugin-author {
        font-weight: 400;
        line-height: 1;
        color: #777;
      }

      p {
        margin-top: 3px;
        margin-bottom: 0;
      }

    }

  }

  .plugin-filter {

    .btn-group-vertical{
      margin-top: 0;
      width:100%;

      .btn {
        padding: 5px 10px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        img {
          margin-right: 5px;
        }
      }
    }

  }

  .pagination {
    margin-top: 0;
  }

}

.card-body.tabbed {
  padding: 0;

  .tab-content .tab-pane {
    padding: 15px;
  }
}

.nav.nav-tabs .active {
  background-color: rgba(78, 78, 78, 0.18);
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.card .nav-tabs {
  justify-content: center;
  display: flex;
}

.panel-success .nav-tabs {
  background-color: #449647;
}

.panel-info-original .nav-tabs {
  background-color: #03a9f4;
}

.tab-pane.preformatted {
  color: #fff;
  background-color: #333;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
  margin-top: -1px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 85%;
}

.hidden-checkboxes {
  input[type="radio"], input[type="checkbox"] {
    display: none;
  }

  span {
    vertical-align: -3px;
  }

  img {
    margin-right: 5px;
  }

  .btn.active {
    background-color: #09880d !important;
  }
}

.new-version-button {
  margin-top: 0;
  width: 100%;
  padding: 15px;
}

.no-margin-above {
  margin-top: 0;
}

.fake-form-group {
  margin-top: 28px;
}
